In [1]:
import pandas as pd
import numpy
import os, os.path
from sqlalchemy import create_engine

In [2]:
# A tabela pivotada 1 é resultado da aba DPCache_m3
# A tabela pivotada 3 é resultado da aba DPCache_m3_2

In [3]:
path_file = '/home/andreolv/Downloads/Raizen/'

df1 = pd.read_excel(path_file+'raw_file/vendas-combustiveis-m3.xlsx', sheet_name='DPCache_m3')
df2 = pd.read_excel(path_file+'raw_file/vendas-combustiveis-m3.xlsx', sheet_name='DPCache_m3_2')
df1

,COMBUSTÍVEL,ANO,REGIÃO,ESTADO,Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez,TOTAL
0,GASOLINA C (m3),2000,REGIÃO NORTE,RONDÔNIA,136073.253000,9563.263000,11341.229000,9369.746000,10719.983000,11165.968000,12312.451000,11220.970000,12482.281000,13591.122000,11940.570000,11547.576000,10818.094000
1,GASOLINA C (m3),2000,REGIÃO NORTE,ACRE,3358.346000,40001.853000,3065.758000,3495.290000,2946.930000,3023.920000,3206.930000,3612.580000,3264.460000,3835.740000,3676.571000,3225.610000,3289.718000
2,GASOLINA C (m3),2000,REGIÃO NORTE,AMAZONAS,20766.918000,21180.919000,242742.352000,17615.604000,20258.200000,18741.344000,19604.023000,20221.674000,20792.616000,19912.898000,21869.338000,21145.643000,20633.175000
3,GASOLINA C (m3),2000,REGIÃO NORTE,RORAIMA,3716.032000,3200.400000,3339.332000,43338.929000,3259.300000,3636.216000,3631.569000,3348.416000,3394.016000,4078.616000,3346.616000,4029.900000,4358.516000
4,GASOLINA C (m3),2000,REGIÃO NORTE,PARÁ,29755.907000,28661.951000,28145.784000,29294.796000,359575.398000,28830.479000,32297.047000,27310.979000,29396.384000,26511.009000,36553.250000,31807.840000,31009.972000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4531,GLP (m3),2020,REGIÃO SUL,RIO GRANDE DO SUL,73247.920290,81469.222826,75607.009058,72818.829710,NaN,NaN,NaN,618788.938406,58679.211957,57649.414855,68522.800725,64045.161232,66749.367754
4532,GLP (m3),2020,REGIÃO CENTRO-OESTE,MATO GROSSO DO SUL,15190.643116,15877.811594,16876.476449,16036.112319,14687.788043,NaN,NaN,NaN,137899.302536,13774.106884,14137.695652,16281.139493,15037.528986
4533,GLP (m3),2020,REGIÃO CENTRO-OESTE,MATO GROSSO,19118.619565,18773.081522,19899.867754,20678.385870,18972.943841,18051.436594,NaN,NaN,NaN,173256.967391,18763.161232,18321.987319,20677.483696
4534,GLP (m3),2020,REGIÃO CENTRO-OESTE,GOIÁS,53302.086957,48894.621377,47184.788043,49687.793478,52665.449275,50069.005435,48032.530797,NaN,NaN,NaN,443268.739130,46850.585145,46581.878623
4535,GLP (m3),2020,REGIÃO CENTRO-OESTE,DISTRITO FEDERAL,13883.065217,16011.333333,15887.492754,13463.275362,15325.704710,15689.914855,15358.490942,13937.451087,NaN,NaN,NaN,133282.702899,13725.974638

In [4]:
month_map = {'Jan':'01', 'Fev':'02', 'Mar':'03', 'Abr': '04', 'Mai':'05', 'Jun':'06',
            'Jul':'07', 'Ago':'08', 'Set':'09', 'Out':'10', 'Nov':'11', 'Dez':'12',
            'COMBUSTÍVEL':'product', 'ESTADO': 'uf'}

In [5]:
df1.rename(columns = month_map, inplace = True)
df2.rename(columns = month_map, inplace = True)

In [6]:
df1

,product,ANO,REGIÃO,uf,01,02,03,04,05,06,07,08,09,10,11,12,TOTAL
0,GASOLINA C (m3),2000,REGIÃO NORTE,RONDÔNIA,136073.253000,9563.263000,11341.229000,9369.746000,10719.983000,11165.968000,12312.451000,11220.970000,12482.281000,13591.122000,11940.570000,11547.576000,10818.094000
1,GASOLINA C (m3),2000,REGIÃO NORTE,ACRE,3358.346000,40001.853000,3065.758000,3495.290000,2946.930000,3023.920000,3206.930000,3612.580000,3264.460000,3835.740000,3676.571000,3225.610000,3289.718000
2,GASOLINA C (m3),2000,REGIÃO NORTE,AMAZONAS,20766.918000,21180.919000,242742.352000,17615.604000,20258.200000,18741.344000,19604.023000,20221.674000,20792.616000,19912.898000,21869.338000,21145.643000,20633.175000
3,GASOLINA C (m3),2000,REGIÃO NORTE,RORAIMA,3716.032000,3200.400000,3339.332000,43338.929000,3259.300000,3636.216000,3631.569000,3348.416000,3394.016000,4078.616000,3346.616000,4029.900000,4358.516000
4,GASOLINA C (m3),2000,REGIÃO NORTE,PARÁ,29755.907000,28661.951000,28145.784000,29294.796000,359575.398000,28830.479000,32297.047000,27310.979000,29396.384000,26511.009000,36553.250000,31807.840000,31009.972000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4531,GLP (m3),2020,REGIÃO SUL,RIO GRANDE DO SUL,73247.920290,81469.222826,75607.009058,72818.829710,NaN,NaN,NaN,618788.938406,58679.211957,57649.414855,68522.800725,64045.161232,66749.367754
4532,GLP (m3),2020,REGIÃO CENTRO-OESTE,MATO GROSSO DO SUL,15190.643116,15877.811594,16876.476449,16036.112319,14687.788043,NaN,NaN,NaN,137899.302536,13774.106884,14137.695652,16281.139493,15037.528986
4533,GLP (m3),2020,REGIÃO CENTRO-OESTE,MATO GROSSO,19118.619565,18773.081522,19899.867754,20678.385870,18972.943841,18051.436594,NaN,NaN,NaN,173256.967391,18763.161232,18321.987319,20677.483696
4534,GLP (m3),2020,REGIÃO CENTRO-OESTE,GOIÁS,53302.086957,48894.621377,47184.788043,49687.793478,52665.449275,50069.005435,48032.530797,NaN,NaN,NaN,443268.739130,46850.585145,46581.878623
4535,GLP (m3),2020,REGIÃO CENTRO-OESTE,DISTRITO FEDERAL,13883.065217,16011.333333,15887.492754,13463.275362,15325.704710,15689.914855,15358.490942,13937.451087,NaN,NaN,NaN,133282.702899,13725.974638

In [7]:
df1 = df1.drop(['REGIÃO', 'TOTAL'], axis=1)
df2 = df2.drop(['REGIÃO', 'TOTAL'], axis=1)

In [8]:
df1 = pd.melt(df1, id_vars=["product", "ANO", "uf"], var_name="MES", value_name='volume')
df2 = pd.melt(df2, id_vars=["product", "ANO", "uf"], var_name="MES", value_name='volume')

In [9]:
df1 = df1.astype({"ANO":str})
df2 = df2.astype({"ANO":str})

In [10]:
df1['year_month'] = df1.ANO.str.cat(df1.MES,sep="-")
df2['year_month'] = df2.ANO.str.cat(df2.MES,sep="-")

In [11]:
df1 = df1.drop(['ANO', 'MES'], axis=1)
df2 = df2.drop(['ANO', 'MES'], axis=1)

In [12]:
df1['unit'] = "m3"
df2['unit'] = "m3"

df1['created_at'] = pd.Timestamp.now()
df2['created_at'] = pd.Timestamp.now()

In [13]:
column_names_ordered = ["year_month", "uf", "product", "unit", "volume", "created_at"]
df1['product'] = df1['product'].str[0:-5]
df2['product'] = df2['product'].str[0:-5]

df1 = df1[column_names_ordered]
df2 = df2[column_names_ordered]

In [14]:
df1 = df1.dropna(subset = ['volume'])
df2 = df2.dropna(subset = ['volume'])

In [15]:
df1

,year_month,uf,product,unit,volume,created_at
0,2000-01,RONDÔNIA,GASOLINA C,m3,136073.253000,2022-03-27 09:51:34.737010
1,2000-01,ACRE,GASOLINA C,m3,3358.346000,2022-03-27 09:51:34.737010
2,2000-01,AMAZONAS,GASOLINA C,m3,20766.918000,2022-03-27 09:51:34.737010
3,2000-01,RORAIMA,GASOLINA C,m3,3716.032000,2022-03-27 09:51:34.737010
4,2000-01,PARÁ,GASOLINA C,m3,29755.907000,2022-03-27 09:51:34.737010
...,...,...,...,...,...,...
54427,2020-12,RIO GRANDE DO SUL,GLP,m3,64045.161232,2022-03-27 09:51:34.737010
54428,2020-12,MATO GROSSO DO SUL,GLP,m3,16281.139493,2022-03-27 09:51:34.737010
54429,2020-12,MATO GROSSO,GLP,m3,18321.987319,2022-03-27 09:51:34.737010
54430,2020-12,GOIÁS,GLP,m3,46850.585145,2022-03-27 09:51:34.737010
54431,2020-12,DISTRITO FEDERAL,GLP,m3,133282.702899,2022-03-27 09:51:34.737010

In [16]:
df2

,year_month,uf,product,unit,volume,created_at
0,2013-01,RONDÔNIA,ÓLEO DIESEL S-10,m3,81453.67,2022-03-27 09:51:34.738237
1,2013-01,ACRE,ÓLEO DIESEL S-10,m3,1483.00,2022-03-27 09:51:34.738237
2,2013-01,AMAZONAS,ÓLEO DIESEL S-10,m3,6836.30,2022-03-27 09:51:34.738237
3,2013-01,RORAIMA,ÓLEO DIESEL S-10,m3,1475.30,2022-03-27 09:51:34.738237
4,2013-01,PARÁ,ÓLEO DIESEL S-10,m3,40913.48,2022-03-27 09:51:34.738237
...,...,...,...,...,...,...
12953,2020-12,PARANÁ,ÓLEO DIESEL (OUTROS ),m3,5.00,2022-03-27 09:51:34.738237
12954,2020-12,SANTA CATARINA,ÓLEO DIESEL (OUTROS ),m3,5.00,2022-03-27 09:51:34.738237
12955,2020-12,RIO GRANDE DO SUL,ÓLEO DIESEL (OUTROS ),m3,10.00,2022-03-27 09:51:34.738237
12956,2020-12,MATO GROSSO DO SUL,ÓLEO DIESEL (OUTROS ),m3,0.00,2022-03-27 09:51:34.738237
12957,2020-12,MATO GROSSO,ÓLEO DIESEL (OUTROS ),m3,90.00,2022-03-27 09:51:34.738237

In [18]:
raw_data = pd.concat([df1, df2], ignore_index=True)
raw_data

,year_month,uf,product,unit,volume,created_at
0,2000-01,RONDÔNIA,GASOLINA C,m3,136073.253,2022-03-27 09:51:34.737010
1,2000-01,ACRE,GASOLINA C,m3,3358.346,2022-03-27 09:51:34.737010
2,2000-01,AMAZONAS,GASOLINA C,m3,20766.918,2022-03-27 09:51:34.737010
3,2000-01,RORAIMA,GASOLINA C,m3,3716.032,2022-03-27 09:51:34.737010
4,2000-01,PARÁ,GASOLINA C,m3,29755.907,2022-03-27 09:51:34.737010
...,...,...,...,...,...,...
66415,2020-12,PARANÁ,ÓLEO DIESEL (OUTROS ),m3,5.000,2022-03-27 09:51:34.738237
66416,2020-12,SANTA CATARINA,ÓLEO DIESEL (OUTROS ),m3,5.000,2022-03-27 09:51:34.738237
66417,2020-12,RIO GRANDE DO SUL,ÓLEO DIESEL (OUTROS ),m3,10.000,2022-03-27 09:51:34.738237
66418,2020-12,MATO GROSSO DO SUL,ÓLEO DIESEL (OUTROS ),m3,0.000,2022-03-27 09:51:34.738237
66419,2020-12,MATO GROSSO,ÓLEO DIESEL (OUTROS ),m3,90.000,2022-03-27 09:51:34.738237

In [19]:
# raw_data.info()
# raw_data.shape
# raw_data.dtypes
# raw_data.isnull().sum()
# raw_data.describe()

In [20]:
estados = ['ACRE', 'ALAGOAS', 'AMAPÁ', 'AMAZONAS', 'BAHIA', 'CEARÁ', 'DISTRITO FEDERAL', 'ESPÍRITO SANTO',
            'GOIÁS', 'MARANHÃO', 'MATO GROSSO', 'MATO GROSSO DO SUL', 'MINAS GERAIS', 'PARÁ', 'PARAÍBA', 
            'PARANÁ', 'PERNAMBUCO', 'PIAUÍ', 'RIO DE JANEIRO', 'RIO GRANDE DO NORTE', 'RIO GRANDE DO SUL',
            'RONDÔNIA', 'RORAIMA', 'SANTA CATARINA', 'SÃO PAULO', 'SERGIPE', 'TOCANTINS']

produtos = ['ETANOL HIDRATADO', 'GASOLINA C', 'GASOLINA DE AVIAÇÃO', 'GLP', 
            'ÓLEO COMBUSTÍVEL', 'ÓLEO DIESEL', 'QUEROSENE DE AVIAÇÃO', 
            'QUEROSENE ILUMINANTE', 'ÓLEO DIESEL (OUTROS )', 'ÓLEO DIESEL MARÍTIMO', 
            'ÓLEO DIESEL S-10', 'ÓLEO DIESEL S-1800', 'ÓLEO DIESEL S-500']

anos = [str(x) for x in list(range(2000,2021))]

In [21]:
raw_data.iloc[66415,0] = 'sem data'
raw_data.iloc[66416,1] = 'sem estado'
raw_data.iloc[66417,2] = 'sem produto'
raw_data.iloc[66418,4] = 'sem numero'

raw_data.tail(20)

,year_month,uf,product,unit,volume,created_at
66400,2020-12,AMAZONAS,ÓLEO DIESEL (OUTROS ),m3,0.0,2022-03-27 09:51:34.738237
66401,2020-12,RORAIMA,ÓLEO DIESEL (OUTROS ),m3,0.0,2022-03-27 09:51:34.738237
66402,2020-12,PARÁ,ÓLEO DIESEL (OUTROS ),m3,0.0,2022-03-27 09:51:34.738237
66403,2020-12,AMAPÁ,ÓLEO DIESEL (OUTROS ),m3,0.0,2022-03-27 09:51:34.738237
66404,2020-12,TOCANTINS,ÓLEO DIESEL (OUTROS ),m3,0.0,2022-03-27 09:51:34.738237
66405,2020-12,MARANHÃO,ÓLEO DIESEL (OUTROS ),m3,0.0,2022-03-27 09:51:34.738237
66406,2020-12,PIAUÍ,ÓLEO DIESEL (OUTROS ),m3,0.0,2022-03-27 09:51:34.738237
66407,2020-12,CEARÁ,ÓLEO DIESEL (OUTROS ),m3,0.0,2022-03-27 09:51:34.738237
66408,2020-12,RIO GRANDE DO NORTE,ÓLEO DIESEL (OUTROS ),m3,0.0,2022-03-27 09:51:34.738237
66409,2020-12,PARAÍBA,ÓLEO DIESEL (OUTROS ),m3,0.0,2022-03-27 09:51:34.738237
66410,2020-12,BAHIA,ÓLEO DIESEL (OUTROS ),m3,0.0,2022-03-27 09:51:34.738237
66411,2020-12,MINAS GERAIS,ÓLEO DIESEL (OUTROS ),m3,20.0,2022-03-27 09:51:34.738237
66412,2020-12,ESPÍRITO SANTO,ÓLEO DIESEL (OUTROS ),m3,35.0,2022-03-27 09:51:34.738237
66413,2020-12,RIO DE JANEIRO,ÓLEO DIESEL (OUTROS ),m3,654.0,2022-03-27 09:51:34.738237
66414,2020-12,SÃO PAULO,ÓLEO DIESEL (OUTROS ),m3,474.0,2022-03-27 09:51:34.738237
66415,sem data,PARANÁ,ÓLEO DIESEL (OUTROS ),m3,5.0,2022-03-27 09:51:34.738237
66416,2020-12,sem estado,ÓLEO DIESEL (OUTROS ),m3,5.0,2022-03-27 09:51:34.738237
66417,2020-12,RIO GRANDE DO SUL,sem produto,m3,10.0,2022-03-27 09:51:34.738237
66418,2020-12,MATO GROSSO DO SUL,ÓLEO DIESEL (OUTROS ),m3,sem numero,2022-03-27 09:51:34.738237
66419,2020-12,MATO GROSSO,ÓLEO DIESEL (OUTROS ),m3,90.0,2022-03-27 09:51:34.738237

In [22]:
bad_data1 = raw_data[~numpy.isin(raw_data['year_month'].str[0:4], anos)]
raw_data = raw_data.drop(index=bad_data1.index.tolist())

In [23]:
bad_data2 = raw_data[~numpy.isin(raw_data['uf'], estados)]
raw_data = raw_data.drop(index=bad_data2.index.tolist())

In [24]:
bad_data3= raw_data[~numpy.isin(raw_data['product'], produtos)]
raw_data = raw_data.drop(index=bad_data3.index.tolist())

In [25]:
bad_data4 = raw_data[raw_data['volume'].str.isnumeric() == False]
raw_data = raw_data.drop(index=bad_data4.index.tolist())

In [26]:
raw_data

,year_month,uf,product,unit,volume,created_at
0,2000-01,RONDÔNIA,GASOLINA C,m3,136073.253,2022-03-27 09:51:34.737010
1,2000-01,ACRE,GASOLINA C,m3,3358.346,2022-03-27 09:51:34.737010
2,2000-01,AMAZONAS,GASOLINA C,m3,20766.918,2022-03-27 09:51:34.737010
3,2000-01,RORAIMA,GASOLINA C,m3,3716.032,2022-03-27 09:51:34.737010
4,2000-01,PARÁ,GASOLINA C,m3,29755.907,2022-03-27 09:51:34.737010
...,...,...,...,...,...,...
66411,2020-12,MINAS GERAIS,ÓLEO DIESEL (OUTROS ),m3,20.0,2022-03-27 09:51:34.738237
66412,2020-12,ESPÍRITO SANTO,ÓLEO DIESEL (OUTROS ),m3,35.0,2022-03-27 09:51:34.738237
66413,2020-12,RIO DE JANEIRO,ÓLEO DIESEL (OUTROS ),m3,654.0,2022-03-27 09:51:34.738237
66414,2020-12,SÃO PAULO,ÓLEO DIESEL (OUTROS ),m3,474.0,2022-03-27 09:51:34.738237
66419,2020-12,MATO GROSSO,ÓLEO DIESEL (OUTROS ),m3,90.0,2022-03-27 09:51:34.738237

In [27]:
# Salvando dataframe pandas raw_data em arquivo excel
raw_data.to_excel('raw_data.xlsx')

In [ ]:
# engine = create_engine('postgresql://postgres:postgres@localhost:5432/postgres')

In [ ]:
# Salvando dataframe pandas raw_data para tabela raw_data no PostgreSQL
# raw_data.to_sql('raw_data', con=engine, if_exists='replace',index=True)

In [ ]:
# Lendo a tabela raw_data no PostgreSQL e salvando no dataframe raw_data pandas
# raw_data = pd.read_sql('SELECT * FROM raw_data', con=engine)